* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.principal {
  background: #c0c0c0;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  text-align: center;
  width: 300px;
}

.principal h1 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
}

.principal input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 8px;
}


.principal button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: #007bff;
  color: white;
  cursor: pointer;
}

#cep, #localidade, #logradouro, #estado {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  margin: 8px 0;
  padding: 8px 12px;
  border-radius: 6px;
  background-color: #909090;
}